data/*
db/*
*~
.DS_Store
light-fields/*
node_modules/*
*/node_modules/*
*/data/games/*.csv 
*/data/latencies/*.csv
*/data/waiting_games/*.csv 
*/data/waiting_latencies/*.csv
*/data/*
*/log/*
datapile/*
*/data/metadata/*